
.Register{
    width: 550px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 12px #00000029;
    text-align: center;
    /* height: 700px; */
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    color: #808080;
}
.Register h1{
    color: #000000;

}
.rows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;

}
.rows .form-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 20px;
    
}

  label {
    color:#808080;
  }
  
  .rows .form-flex input{
    width: 200px;
    border: none;
    border-bottom: 1px solid #808080;
    /* padding: 10px; */
    
  }
  /* .form-group checkbox-group  .checkbox-input{
    font-size: 16px;
    color: #808080;
    
  } */
  .checkbox{
    margin: 0%;
    padding: 0%;
  }

  .checkbox input{
    width: 80px;
    padding: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-color: #53A4F4;
  }
  .checkbox label{
    color: #53A4F4;
  }
  .btn1 button{
    margin: 20px;
    /* justify-content: center;
    text-align: center;
    align-items: center; */
  }