/* .logo{
    background-color: white;
    color: black;
    height: 40px;
    box-shadow : 0px 0px 10px #00000029  ;
}
.logo .logo-txt{
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    
} */
/* Navbar .logo {
    display: flex;
    justify-content: space-between;
} */
/* .navbar{
    box-shadow : 0px 0px 10px #00000029  ;
} */
.logo{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
   
}
/* .custom-dropdown{
    font-size: 14px;
    padding: 2px;
    color: blue;
    border: none;
} */
