
.sidebar{
    margin-top: 56px;
    width: 40px;
    height: 100vh;
    background-color: #278DF1;
    align-items: center;
    font-size: 25px;
    color: white;
    position: fixed;


}
.sidebar ul {
    list-style: none;
    padding: 250px 10px 60px 5px;
}

.home{
    cursor: pointer;
}