.left{
    display: flex;

}
.main-list{
    background-color: white;
    margin: 0px 0px  0px 50px;
}

.Survey{
    display: flex;
    height: 94vh;
}

.list-page {
    background: #FAFDFF;
    margin: 60px 20px 0px 150px;
    width: 165vh;
    height: 88vh;
    padding: 20px;
    overflow-y: auto;
  }
  .foot {
    margin-left: 50px;
    position: fixed;
    bottom: 0;
}
  
  .list-page::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
  
  .list-page::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .list-page::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .list-page::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  
  .list-page::-webkit-scrollbar-track:hover {
    background-color: #eee;
  }
  
/* Table Header */
thead tr th {
  padding: 20px;
  background-color: #F8FAFF;
  box-shadow: 0 12px 18px -6px #00000029;
  column-span: none;
}

/* Table Data */
.table-data {
  padding: 20px;
}

/* Additional Styling (optional) */
table {
  border-collapse: collapse;
  width: 100%;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #eaf6ff;
}


.list-page .search {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.list-page .search h2 {
  display: flex;
  align-items: center;
  margin: 0;
}

.list-page .search h2 svg {
  margin-right: 10px;
}

.list-page .search .create {
  display: flex;
  align-items: center;
}

.list-page .search .create svg {
  margin-right: 10px;
}

.list-page .search .save {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #278DF1;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.list-page .search .save:hover {
  background-color: #278DF1;
}


.frame{
    display: flex;
}
.edit{
    margin:0 10px ;
    cursor: pointer;
}
.save{
    margin: 0 30px;
    
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    margin-right: 5px;
}