.left{
    display: flex;

}
.main-list{
    background-color: white;
    margin: 0px 0px  0px 50px;
}

.Survey{
    display: flex;
    height: max-content;
}

.list-page {
    background: #FAFDFF;
    margin: 60px 20px 0px 150px;
    width: 160vh;
    height: 88vh;
    padding: 20px;
    overflow-y: auto;
  }
  
  .list-page::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
  
  .list-page::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .list-page::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .list-page::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  
  .list-page::-webkit-scrollbar-track:hover {
    background-color: #eee;
  }
  
table thead tr th{
    padding:20px;
    background-color: #F8FAFF;
    box-shadow:  12px #00000029;
    column-span: none;
    
}

.table-data {
    padding: 20px 60px 20px 60px;
}
.list-page .search {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
.list-page .search input{
    margin-top: 50px;
    
}
.frame{
    display: flex;
}
.edit{
    margin:0 10px ;
    cursor: pointer;
}
.save{
    margin: 0 30px;
    
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    margin-right: 5px;
}