
.main{
    background-color: rgba(239, 240, 240, 0.71);
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
  }
  .popup{
    height: 80%;
    width: 60%;
    background-color: white;
    position: absolute;
    top: 15%;
    right: 20%;
    border: 1px solid #707070;
    border-radius: 3%;
    color: #2D2D2E;
    font-family: sans-serif;
    font-weight: normal;
  }
  .popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 2px solid #CCCCCC;
    color: #676767;
    font-family:Helvetica;
    font-weight: bold;
  
  }
  .popup-body{
    padding: 0 30px 0 30px;
    text-align: left;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .formPart{
    border-bottom: 1px solid #CCCCCC;
    color: #676767;
    font-size: small;
    padding: 20px 30px;
  }
  #themeOpt{
    font-size: smaller;
    color: #676767;
    padding: 1px 2px;
    width: 50%;
    border: 1px solid #CCCCCC;
  }
  .formPart2{
    padding: 0 30px 20px 30px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .formPart2 div{
    display: inline-block;
    min-width: 30%;
    color: #676767;
    font-size: small;
    padding: 20px 0 0 0;
  }
  .formPart2 div select , .formPart2 div input{
    font-size: smaller;
    color: #676767;
    padding: 1px 2px;
    width: 100%;
    border: 1px solid #CCCCCC;
  }
  .formPart3{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    color: #676767;
    font-size: small;
    padding: 20px 30px;
  }
  .formPart3 div{
    display: inline-block;
    min-width: 30%;
    color: #676767;
    font-size: small;
    padding: 20px 0 0 0;
    margin-right: 38px;
  }
  .formPart3 div select{
    font-size: smaller;
    color: #676767;
    padding: 1px 2px;
    width: 100%;
    border: 1px solid #CCCCCC;
  }
  .my-btn{
    position: absolute;
    bottom: 20px;
    border-top: 2px solid #CCCCCC;
    width: 100%;
    left: 50%;
transform: translateX(-50%);
display: flex;
justify-content: center;

  }

  .cancelBtn , .saveBtn{
    color: #6A6A6A;
    background-color: #FFFFFF;
    border: 2px solid #707070;
    border-radius: 6px;
    padding: 5px 15px;
    margin-right: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  .saveBtn{
    background-color: #278DF1;
    color: #FFFFFF;
  }
.theme-btn{
    background-color: #8A5DEF;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}