/* Base styles for the popup */
.popup {
  background-color: white;
  position: absolute;
  top: 15%;
  left: 20%;
  border-radius: 3%;
  color: #2D2D2E;
  font-family: sans-serif;
  font-weight: normal;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .popup {
    right: 10%;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .popup {
    top: 10%;
    right: 5%;
    width: 95%;
  }
}

@media (max-width: 480px) {
  .popup {
    top: 5%;
    right: 2%;
    width: 98%;
    padding: 15px;
    border-radius: 2%;
  }
}
